# Find the best places to open 200 new oil wells for the company OilyGiant

# Content <a id='back'></a>

* [Introduction](#intro)
* [step 1. Data review.](#data_review)
    * [First impressions](#data_review_conclusions)
* [Step 2. Data preprocessing](#data_preprocessing)
    * [2.1 Duplicate values and fill missing values](#duplicate_values)
* [Step 3. Data Analysis](#data_analysis)
    * [3.1 Data segmentation and model training.](#train)
    * [3.2 Firts results](#first_results)
* [Step 4. Profit calculation](#profit)
    * [4.1 The variables are prepared for the calculation of profits.](#prepared)
    * [4.2 Calculation with the 200 best wells](#with2200)
* [Conclusions](#end)

# Introduction <a id='intro'></a>

Oil drilling company OilyGiant is asking to find the best locations to drill 200 new oil wells.

You have data on crude oil samples from three regions. The parameters of each oil well in the region are already known. Create a model that helps choose the region with the highest profit margin. Analyze potential benefits and risks using the bootstrapping technique.

## Step 1. Data review. <a id='data_review'></a>

In [4]:
# All libraries are loaded

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.utils import shuffle
from sklearn.metrics import roc_curve

### First impressions <a id='data_review_conclusions'></a>

In [9]:
# Import data

df_0 = pd.read_csv('geo_data_0.csv')
df_1 = pd.read_csv('geo_data_1.csv')
df_2 = pd.read_csv('geo_data_2.csv')

In [11]:
# The data frame (df_0) information and a sample of the data are printed

display(df_0.head())
df_0.info()
print(df_0.isnull().sum())
df_0.describe()

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

In [13]:
# The data frame (df_1) information and a sample of the data are printed

display(df_1.head())
df_1.info()
print(df_1.isnull().sum())
df_1.describe()

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

In [15]:
# The data frame (df_2) information and a sample of the data are printed

display(df_2.head())
df_2.info()
print(df_2.isnull().sum())
df_2.describe()

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

**Observations**
1. There is no missing data in the data sets.
2. The data type is correct for the data set.
3. It seems everything is correct and it is posible to continue with the other steps.
4. The values returned by the describe() method are consistent

## Step 2. Data preprocessing <a id='data_preprocessing'></a>

### Duplicate values <a id='duplicate_values'></a>

In [20]:
# Verify duplicated data

print('Duplicated values in df_0:')
print(df_0[df_0.duplicated()])
print("")
print('Duplicated values in df_1:')
print(df_1[df_1.duplicated()])
print("")
print('Duplicated values in df_2:')
print(df_2[df_2.duplicated()])

Duplicated values in df_0:
Empty DataFrame
Columns: [id, f0, f1, f2, product]
Index: []

Duplicated values in df_1:
Empty DataFrame
Columns: [id, f0, f1, f2, product]
Index: []

Duplicated values in df_2:
Empty DataFrame
Columns: [id, f0, f1, f2, product]
Index: []

**Observations**

There are no duplicate values in any "df", the consistency of the data was ensured so we can continue with the next steps.

## Step 3. Data Analysis <a id='data_analysis'></a>

### Data segmentation and model training. <a id='train'></a>

In [25]:
def train_test(df,scale):
        
    # Tranform object variables to categorical variables avoinding the dummy problem
    features = df.drop(['id', 'product'], axis=1)
    target = df['product']
    
    # Split the dataset in train, validation and test set (75% train, 25% validation)
    X_train, X_valid, y_train, y_valid = train_test_split(features, target, test_size=0.25, random_state=12345)
    
    if scale == 1:
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_valid = sc.fit_transform(X_valid)

    # Train a LinearRegression model and make predictions
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    # Evaluate on validation set
    y_pred = model.predict(X_valid)
    
    # Predicted average reserve volume and RMSE of the model
    
    y_predict_mean = y_pred.mean()
    rmse = np.sqrt(mean_squared_error(y_valid, y_pred))
    
    print(f"Predicted average volume: {y_predict_mean}")
    print(f"RMSE: {rmse}")
    
    return y_valid, y_pred

### Firts results. <a id='first_results'></a>

In [28]:
# Calculation of the model for df_0

print('Region 0')
y_valid_df_0, y_pred_df_0 = train_test(df_0, 1)

Region 0
Predicted average volume: 92.64046775305692
RMSE: 37.58010943632562

In [30]:
# Calculation of the model for df_1

print('Region 1')
y_valid_df_1, y_pred_df_1 = train_test(df_1, 1)

Region 1
Predicted average volume: 68.85895465854666
RMSE: 0.9101647093055368

In [32]:
# Calculation of the model for df_2

print('Region 2')
# Correction
y_valid_df_2, y_pred_df_2 = train_test(df_2, 1)

Region 2
Predicted average volume: 95.03858906371522
RMSE: 40.0303627970992

**Observations**

1. The model was trained with linear regression due the necessity of a simple regression, depending on the data a robust regression could be applied.
2. Added the option to choose whether or not to standardize the data and observe the differences in the values calculated later using the predictions
3. It seems that standardizing data generates better metrics.
4. Region 0 and 2 are those that present the best values of average reserves and the lowest RMSE error is obtained in region 1, one reason is that there is more dispersion in the predictions for regions 0 and 2
5. A deeper analysis must be done to know which region is the best, it seems that region 0 and 2 give equal results.

## Step 4. Profit calculation. <a id='profit'></a>

### The variables are prepared for the calculation of profits. <a id='prepared'></a>

In [37]:
# Set the principal variables 

budget = 100e6
n_wells = 200
cost_per_well = budget/n_wells
min_units = 111.1
cost_per_barrel = 500000/min_units
print(cost_per_barrel)

4500.450045004501

In [39]:
# Calculate the average amount of reservations predicted for each region

mean_reserves_0 = y_pred_df_0.mean()
mean_reserves_1 = y_pred_df_1.mean()
mean_reserves_2 = y_pred_df_2.mean()

# Compare quantities with the minimum threshold of 111.1 units

print(f"Cantidad mínima requerida por pozo para evitar pérdidas: {min_units:.2f} mil barriles")
print(f"Cantidad media de reservas predicha en la Región 0: {mean_reserves_0:.2f} mil barriles")
print(f"Cantidad media de reservas predicha en la Región 1: {mean_reserves_1:.2f} mil barriles")
print(f"Cantidad media de reservas predicha en la Región 2: {mean_reserves_2:.2f} mil barriles")

# Preliminary conclusions
if mean_reserves_0 > min_units:
    print("La Región 0 es rentable en promedio.")
else:
    print("La Región 0 no es rentable en promedio.")

if mean_reserves_1 > min_units:
    print("La Región 1 es rentable en promedio.")
else:
    print("La Región 1 no es rentable en promedio.")

if mean_reserves_2 > min_units:
    print("La Región 2 es rentable en promedio.")
else:
    print("La Región 2 no es rentable en promedio.")

Cantidad mínima requerida por pozo para evitar pérdidas: 111.10 mil barriles
Cantidad media de reservas predicha en la Región 0: 92.64 mil barriles
Cantidad media de reservas predicha en la Región 1: 68.86 mil barriles
Cantidad media de reservas predicha en la Región 2: 95.04 mil barriles
La Región 0 no es rentable en promedio.
La Región 1 no es rentable en promedio.
La Región 2 no es rentable en promedio.

**Observations**

1. It appears that no region is profitable on average; however, regions 0 and 2 are the ones that are closest to the minimum value
2. To calculate the profit, a function will be generated that uses the predictions, the number of barrels, the cost per barrel and the budget. To obtain the profit it is necessary to calculate the total volume and multiply it by the budget, so we can know if, on average, the regions meet the sales of 500,000

### Calculation with the 200 best wells. <a id='with200'></a>

In [43]:
# Function to calculate the profit of a set of selected oil wells

def profits(predict, num_wells, cost_per_barrel, budget):
    best_wells = predict.sort_values(ascending=False).head(200)
    
    # Calculate total volume and profits
    total_volume = best_wells.sum()
    revenue = total_volume * cost_per_barrel
    
    # Calculate profit
    profit = revenue - budget
    
    return best_wells, profit

In [45]:
# Calculate expected profits from the top 200 wells by region

best_wells_df_0, profit_df_0 = profits(pd.Series(y_pred_df_0), n_wells, cost_per_barrel, budget)
best_wells_df_1, profit_df_1 = profits(pd.Series(y_pred_df_1), n_wells, cost_per_barrel, budget)
best_wells_df_2, profit_df_2 = profits(pd.Series(y_pred_df_2), n_wells, cost_per_barrel, budget)

print(f"Expected profit for Region 0: ${profit_df_0:.2f}")
print(f"Expected profit for Region 1: ${profit_df_1:.2f}")
print(f"Expected profit for Region 2: ${profit_df_2:.2f}")

# Determine the most profitable region

if (profit_df_0 > profit_df_1 and profit_df_0 != profit_df_1) and (profit_df_0 > profit_df_2 and profit_df_0 != profit_df_2):
    print("Region 0 has the highest potential benefit and is recommended for well development.")
elif (profit_df_1 > profit_df_0 and profit_df_1 != profit_df_0) and (profit_df_1 > profit_df_2 and profit_df_1 != profit_df_2):
    print("Region 1 has the highest potential benefit and is recommended for well development.")
elif (profit_df_2 > profit_df_0 and profit_df_2 != profit_df_0) and (profit_df_2 > profit_df_1 and profit_df_2 != profit_df_1):
    print("Region 2 has the highest potential benefit and is recommended for well development.")
elif profit_df_0 == profit_df_1 and profit_df_0 > profit_df_2: 
    print("Region 0 and Region 1 have the greatest potential benefit and are recommended for well development.")
elif profit_df_0 == profit_df_2 and profit_df_0 > profit_df_1:
    print("Region 0 and Region 2 have the greatest potential benefit and are recommended for well development.")
else:
    print("Region 1 and Region 2 have the greatest potential benefit and are recommended for well development.")

Expected profit for Region 0: $40093035.59
Expected profit for Region 1: $24844320.83
Expected profit for Region 2: $33215034.60
Region 0 has the highest potential benefit and is recommended for well development.

**Observations**

1. Regions 0 has the best profits with equal values for the top 200 wells
2. Region 1 seems less profitable

## Conclusion. <a id='end'></a>

In [49]:
# Function to calculate risk and profit using bootstrapping

state = np.random.RandomState(12345)
def bootstrap_profit(predictions, n_bootstrap=1000):
    state = np.random.RandomState(12345)
    values = []
    
    for _ in range(n_bootstrap):
        # Perform a random sample with replacement
        subsample = predictions.sample(n=n_wells, replace=True, random_state=state)
        
        # Calculate the total volume and profit for the sample
        total_volume = subsample.sum()
        revenue = total_volume * cost_per_barrel
        profit = revenue - budget
        values.append(profit)
    
    
    values = pd.Series(values)
    
    mean_profit = values.mean()
    lower = values.quantile(0.025)
    upper = values.quantile(0.975)
    
    # Calculate risk of loss
    risk_of_loss = (values < 0).mean()
    
    return mean_profit, lower, upper, risk_of_loss

In [51]:
# Apply bootstrapping for each region

print("\nRegion 0:")
mean_profit_df_0, lower_df_0, upper_df_0, risk_df_0 = bootstrap_profit(pd.Series(best_wells_df_0))
print(f"Average profit: ${mean_profit_df_0:.2f}, Confidence interval: [{lower_df_0:.2f}, {upper_df_0:.2f}]")
print(f"Risk of loss: {risk_df_0 * 100:.2f}%")

print("\nRegion 1:")
mean_profit_df_1, lower_df_1, upper_df_1, risk_df_1 = bootstrap_profit(pd.Series(best_wells_df_1))
print(f"Average profit: ${mean_profit_df_1:.2f}, Confidence interval: [{lower_df_1:.2f}, {upper_df_1:.2f}]")
print(f"Risk of loss: {risk_df_1 * 100:.2f}%")

print("\nRegion 2:")
mean_profit_df_2, lower_df_2, upper_df_2, risk_df_2 = bootstrap_profit(pd.Series(best_wells_df_2))
print(f"Average profit: ${mean_profit_df_2:.2f}, Confidence interval: [{lower_df_2:.2f}, {upper_df_2:.2f}]")
print(f"Risk of loss: {risk_df_2 * 100:.2f}%")

Region 0:
Average profit: $40076584.29, Confidence interval: [39236694.32, 40926426.03]
Risk of loss: 0.00%

Region 1:
Average profit: $24843542.27, Confidence interval: [24805695.06, 24882088.69]
Risk of loss: 0.00%

Region 2:
Average profit: $33200950.68, Confidence interval: [32502433.66, 33933484.08]
Risk of loss: 0.00%

In [53]:
# Comparar y determinar la región más adecuada para el desarrollo
if (mean_profit_df_0 > mean_profit_df_1 and mean_profit_df_0 != mean_profit_df_1) and (mean_profit_df_0 > mean_profit_df_2 and mean_profit_df_0 != mean_profit_df_2) and risk_df_0 < 2.5:
    print("Region 0 is the most profitable and has an acceptable risk of loss.")
elif (mean_profit_df_1 > mean_profit_df_0 and mean_profit_df_1 != mean_profit_df_0) and (mean_profit_df_1 > mean_profit_df_2 and mean_profit_df_1 != mean_profit_df_2) and risk_df_1 < 2.5:
    print("Region 1 is the most profitable and has an acceptable risk of loss.")
elif (mean_profit_df_2 > mean_profit_df_0 and mean_profit_df_2 != mean_profit_df_0) and (mean_profit_df_2 > mean_profit_df_1 and mean_profit_df_2 != mean_profit_df_1) and risk_df_2 < 2.5:
    print("Region 2 is the most profitable and has an acceptable risk of loss.")
elif (mean_profit_df_0 == mean_profit_df_1 and mean_profit_df_0 > mean_profit_df_2) and risk_df_0 < 2.5:
    print("Region 0 and Region 1 have the greatest potential benefit and are recommended for well development.")
elif (mean_profit_df_0 == mean_profit_df_2 and mean_profit_df_0 > mean_profit_df_1) and risk_df_0 < 2.5:
    print("Region 0 and Region 2 have the greatest potential benefit and are recommended for well development.")
elif (mean_profit_df_1 == mean_profit_df_2 and mean_profit_df_1 > mean_profit_df_0) and risk_df_1 < 2.5:
    print("Region 1 and Region 2 have the greatest potential benefit and are recommended for well development.")
else:
    print("No region fits the risk and gain criteria..")

Region 0 is the most profitable and has an acceptable risk of loss.

**Coclusions**

1. The final result is adjusted with the results obtained in point 4.2.
2. In conclusion we can say that there is a region in which it is advisable to invest: region 0, this offers the best benefits. This region is recommended to invest in the 200 wells. Another option that can be reviewed is to choose the 100 wells in region 0 and the best 100 in region 2 and if it is more profitable, be able to make that investment in order to diversify.
3. According to the analysis, better results were obtained with standardized training data.